*~
*.log
*.aux
*.make
*.d
*.bbl
*.blg
*.fls
*.rel
*.temp
*.gz
*.fdb_latexmk
.DS_Store
*/.DS_Store
*_diff.tex
*_new.tex
*_old.tex
*.out
*.cut
.latexrun.db*
*.toc
old
dataset
.ipynb_checkpoints
outputs/plots
__pycache__
inputs/legacy_survey/*.fits
inputs/SCOS_XSC_mCl1_B21.5_R20_noStepWedges.csv
inputs/*